//Variables

$h2-font: Menlo, sans-serif;

$p-font: Raleway, sans-serif;

$nav-font: Helvetica, sans-serif;

$nav-bgcolor: black;

$h1-font: Big Casion, sans-serif;

$nav-font-color: white;

$p-font-color: black;

$h1-font-color: black;

$h2-font-color: black;

$lightbox-bgcolor: Black;

$lightboxNav-bgcolor: #343434;

$graphicArt-color: #32004b;

$graphicArt-font: Superclarendon, sans-serif;

$graphicArt-font-color: #d2e93a;
