//Variables

$h2-font: Menlo, sans-serif;

$p-font: Raleway, sans-serif;

$nav-font: Helvetica, sans-serif;

$nav-bgcolor: black;

$h1-font: Big Casion, sans-serif;

$nav-font-color: white;

$lightbox-bgcolor: Black;

$lightboxNav-bgcolor: #343434;

$graphicArt-color: #32004b;

$h1-graphicArt-font: Superclarendon, sans-serif;

$graphicArt-font-color: #d2e93a;

$h1-font-size-mobile: 100pt;

$h2-font-size-mobile: 60pt;

$p-font-size-mobile: 44pt;

$h1-font-size-desktop: 130pt;

$h2-font-size-desktop: 100pt;

$p-font-size-desktop: 48pt;


