//Variables

$h2-font: Menlo, sans-serif;

$p-font: Raleway, sans-serif;

$nav-font: Helvetica, sans-serif;

$nav-bgcolor: black;

$h1-font: Big Casion, sans-serif;

$nav-font-color: white;

$lightbox-bgcolor: Black;

$lightboxNav-bgcolor: #343434;
